body
	{
		background-color:#A86E00;
	}
	h1
	{
    	color:#E60000;
    	text-align:center;
		border-bottom-style:solid;
		border-width:10px;
		background-color:pink;
	}
	table, th, td
	{
		
		border: 5px solid #000000;
		padding: 15px;
		background-color:#A80000;
		color:#FFFF00;
	}
	table
	{
		margin:10px dashed #000000;
	}
	
	
	.btsty
	{ 
		border: 2px solid #000000;
		padding: 2px;
		margin:10px;
		background-color:#D1D100;
		color:#0000DB;
	}	